<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>
<%= link_to "Reset Password", "shared/resetPassword" %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

     

      <%= f.label :weight %>
      <%= f.text_field :weight %>

      <%= f.label :height %>
      <%= f.text_field :height %>

      <%= f.label :gym, "Home Gym" %>
      <%= f.text_field :gym %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a>
  </div>
</div>