<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.followed_users.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>
<br>
<h1>Statistics</h1>
<div class="stats">
    Weight: <%= @user.weight %> pounds 
    <br>
    Height: <%= @user.height %> inches
    <br>
    Home Gym: <%= @user.gym %>
    <br>
    <% if current_user?(@user) %>
      <%= link_to "Edit", edit_user_path(current_user) %>
    <% end %>
</div>